* {box-sizing: border-box;margin: 0;padding: 0;}
body {display: block;margin: 0 8px;color:#000000;font-size:16px;font-family: Verdana, Arial, Helvetica, sans-serif;background-image: url(images/background.png);}
div {position: relative;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
ul {display: inline-block;list-style-type: none;}
h3 {font-size: 40px;font-weight: 600;line-height: 1.2;}
h4 {font-size: 30px;font-weight: 600;line-height: 1.2;}
h5 {font-size: 20px;font-weight: 600;line-height: 1.2;}
h6 {font-size: 18px;font-weight: 600;line-height: 1.2;}
a {text-decoration: none;color:#000000;}
input {height: 30px;width: 100%;}
img {width:150px;}

header {position: fixed;width: 100%;height: 100px;z-index: 100;top: 0;left: 0;background: #ffffff;}
.hd_container {align-items: center;display: flex;justify-content: space-between;}
.modal {display: none;position: fixed;z-index: 1;padding-top: 100px;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.8);}
.mobile_nav {background-color: #fefefe;display: block;text-align: center;font-size: 30px;}
.mobile_nav li{border: 1px solid #000000;}
.close {color: #ffffff;font-size: 60px;font-weight: bold;margin-left: 20px;}
.close:hover, .close:focus {color: #000000;text-decoration: none;cursor: pointer;}
#logo_img {margin-top: 10px;}
.main_nav {display: none;}
#hamburger {width: 60px;}
.logo {margin-top: 10px;}
.fa-bars {transform: scale(2,2);}

#wrapper {margin: 150px auto 0;}
.searchform {margin-bottom: 40px;}
.searchform form {margin-left: 1px;}
.display_img {width: 100%;height: 600px;margin-bottom: 60px;}
.back_img {background-image: url(images/display_1.jpg);position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-repeat: no-repeat;background-size: cover;background-position: center center;}
.content {position: relative;color: #ffffff;top: 30%;}
.content h3, .content h4 {margin-left: 15px;}
.content p {margin: 15px;}
.content a {color: #ffffff;text-decoration: underline;}
.first {height: 400px;margin-bottom: 60px;}
.second {height: 400px;}
.ad1_img {background-image: url(images/display_2.jpg);position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-repeat: no-repeat;background-size: cover;background-position: center center;}
.ad2_img {background-image: url(images/display_3.jpg);position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-repeat: no-repeat;background-size: cover;background-position: center center;}
button {margin-left:15px;border: solid 2px #ffffff;width: 178px;height: 61px;background: none;text-align: center;overflow: hidden;cursor: pointer;}
button a {display: block;position: relative;font-size: 16px;font-weight: 600;line-height: 57px;color: #ffffff;background: none;z-index: 1;}
.new_products, .primary {display: flex;flex-wrap: wrap;}
.products h5 {margin: 5px auto;}
.seller {margin-bottom: 40px;}
.seller li, .comment li, .share li, .pcont li{margin: 0 5px;}
.card {box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;margin:40px auto;}
.slideshow {display: inline-block;margin-bottom: 20px;}
.mySlides {display: none}
.slideshow-container {max-width: 400px;max-height: 400px;position: relative;}
.next {right: 0;border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8);}
.prev, .next {cursor: pointer;position: absolute;top: 50%;width: auto;padding: 16px;margin-top: -22px;color: white;font-weight: bold;font-size: 18px;transition: 0.6s ease;border-radius: 0 3px 3px 0;}
.fade {-webkit-animation-name: fade;-webkit-animation-duration: 1.5s;animation-name: fade;animation-duration: 1.5s;}
.small {color:  gray;font-size: 10px;}
.item {padding-top: 40px;margin-bottom: 20px;}
.desc {padding: 2px 16px;text-align: center;}
.description {margin-bottom: 40px;text-align: left;}
.description li, .specs li, .item li, .links li, .policy li, .inform li, .plist li {margin: 10px auto;padding: 5px 0;}
.specs {margin-bottom: 40px;display: inline-block;}
.details, .pcont {display: flex;}
.info {text-align: center;}
.info p {padding: 10px;}
.info_card {margin-bottom: 40px;border: 1px solid gray;padding-top: 5px;}
.info .fa {transform: scale(2,2);}
.banner {background: linear-gradient(to bottom, #ffffff -5%, #000000 101%);color: #ffffff;margin: 30px auto;padding: 20px 0;text-align: center;}
.banner a {color: #ffffff;text-decoration: underline;}
.more {cursor: pointer;text-align: center;border-top: 2px solid #eeeeee;padding-top: 5px;margin-bottom: 60px;text-decoration: underline;}

.r_panel {border: 1px solid #eeeeee;padding-top: 15px;}
.r_panel img {width: 100%;}
.r_panel button {margin: 5px 0;width: 100%;}
.gift {margin-left: 10px;color:blue;}
.wish {font-size: 25px;color:red;margin-left: 10px;}
.fav {font-size: 30px;color: yellow;margin-left: 10px;}
.gfw, .policy {display: inline-block;}
.gfw a:hover, .policy a:hover, .links a:hover {text-decoration: underline;}
.prof {margin-top: 20px;}
.pimg {width: 80px;}
.pimg img {width: 80px;}
.pdata h6 {margin: 5px auto;}
.pdata h6 a:hover {text-decoration: underline;color:blue;}
.pdata {display: inline-block;margin-left: 40px;vertical-align: top;}
.pdata button {height: 50px;background: blue;width: 100px;margin-left: 0;border: 2px solid blue;}
.pcont li img {width: 100%;}

.inform a, .plist a{text-decoration: underline; color: blue;}
.tags {display: inline-flex;flex-wrap: wrap;}
.tags li {background: #e5e5e5;padding: 5px 10px; margin: 5px;}
.similar, .information, .profile {margin:40px auto;}
.similar div {display: inline-flex;width: 100%;overflow: auto;padding: 20px 0;}
.similar span {margin: auto 10px;}


.page {margin-top: 60px;}
.top {margin-top: 40px;}
.top h6 {margin: 20px auto;}
.top button {margin-left: 0;height: 60px;width: 150px;background: #cccccc;}
.fa-star {font-size: 25px;}
.fa-user-circle-o {margin-right: 10px;}
.checked {color: orange;}
.side {margin-top:10px;}
.middle {margin-top:10px;float: left;width: 80%;}
.right {text-align: right;}
.row:after {content: "";display: table;clear: both;}
.bar-container {width: 100%;background-color: #f1f1f1;text-align: center;color: white;}
.bar-5 {width: 100%; height: 18px; background-color: orange;}
.bar-4 {width: 0%; height: 18px; background-color: orange;}
.bar-3 {width: 0%; height: 18px; background-color: orange;}
.bar-2 {width: 0%; height: 18px; background-color: orange;}
.bar-1 {width: 0%; height: 18px; background-color: orange;}
.comment {margin: 40px auto;}
.comment ul, .share {display: inline-flex;}
.comment img {width: 100%;}
.bottom {margin-top: 40px;}
.bottom span {display: inline-block; vertical-align: middle;}
.bottom form {display: inline-block; vertical-align: bottom; width: 80%;}
.bottom input {height: 40px;}
.bottom button {background: #cccccc;width: 100%;margin-top: 20px;margin-left: 0;}


footer {border-top: 2px solid #eeeeee;font-size: 12px;margin-top: 60px;padding-bottom: 5px;background-image: url(images/footer.jpg);}
.ft_container {text-align: center;width: 100%;}
.primary {margin-top: 20px;}
.secondary {margin: 15px auto;}
.ft_logo {margin: auto;}
.social {margin: 25px auto;}
.links {margin: auto;}
.social ul {display: inline-flex;}
.social li {margin: 0 20px;}
.social p {margin-bottom: 5px;}
.newsletter {margin: 30px auto;}
.newsletter form {width: 100%;margin-top: 20px;}
.newsletter button {border: 2px solid gray; height: 30px;margin-top: 5px;}



/* keyframes */
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* tablet mode */
@media screen and (min-width: 400px) and (max-width: 989px) {
    .slideshow-container {margin-bottom: 40px;}
    .side {float: left;width: 15%;}
    .middle {width: 70%;}
}

@media screen and (min-width: 768px) {
    .adverts {display: flex;}
    .first {width: 40%;margin-right: 10px;margin-bottom: 0;}
    .second {width: 60%;}
    .content h4 {font-size: 40px;}
    .card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);}
    .container {display: inline-block;margin-left: 3%;}
    .l_panel {float: left;width: 60%;margin-right: 40px;}
    .specs {width: 100%;}
    .specs ul {width: 45%;}
    .sp1 {margin-right: 8%;}
    .sp2 {vertical-align: top;}
    .profile {display: inline-flex;}
    .prof {margin: 0 30px;}
    .pro {margin-right: 30px;}
    .plist {display: inline-block;}
    .r_panel {max-width: 30%; float: right;padding: 8px;}
    .page {margin: 60px 10%;}
    .bottom button {width: 178px;}
    footer {font-size: 14px;}

}
@media screen and (min-width: 768px) and (max-width: 989px) {
    .searchform form {width: 65%;}
    .content {max-width: 70%;}
    .content h3 {font-size: 50px;}
    .first .content {top: 20%;}
    .second .content {top: 20%;}
    .card {width: 45%;}
}

/* desktop mode */
@media screen and (min-width: 990px) {
    .navi {display: inline-flex;}
    img {width: 180px;}
    .close  {display: none;}
    #logo_img {margin-top: -15px;}
    .hd_container {align-items: normal;justify-content: normal;}
    .main_nav {display: inline-block !important;font-size: 20px;font-weight: bold;margin-left: 30px;}
    .main_nav ul {margin-top: 70px;}
    .main_nav li {margin: 0 15%;}
    #hamburger {display: none;}
    .content {max-width: 40%;top: 20%;}
    .content h3 {font-size: 60px;}
    .card {width: 24%;}
    .searchform {display: flex;justify-content: space-between;}
    .searchform form {width: 50%;}
    .slideshow {display: inline-flex;}
    .slideshow-container {margin-bottom: 40px;}
    .item {margin-left: 40px;padding-top: 0;}
    .first .content {top: 50%;}
    .second .content {top: 10%;}
    .info {display: flex;}
    .info_card {margin-left: 10px;margin-right: 10px;}

    .inform {display: inline-block;}
    .side {float: left;width: 15%;}
    .middle {width: 70%;}

    .ft_container {display: inline-block;}
    .ft_logo {width: 33.3%;margin: 30px auto;}
    #ft_logo_img {margin: 0;}
    .newsletter {width: 33.3%;}
    .links {width: 33.3%;margin: 30px auto;}
    .links ul {display: inline-block;}
    .secondary {margin: 40px 7px 0 7px;}
}